<div class="container">
    <div class="row">
      <div class="col">
        <canvas #doughnutChart></canvas>
      </div>
      <div class="col">
        <div class="chart-description">
          <h5>Deskripsi Chart</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui amet fugiat maiores ipsam error, veritatis placeat explicabo impedit ratione repudiandae aperiam optio beatae culpa nihil quasi. Iure id a molestias?.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatum ipsa a earum iste fuga porro commodi recusandae magni. Id blanditiis quod distinctio tempora inventore ipsa culpa hic! Esse, vel!</p>
        </div>
      </div>
    </div>
  </div>
  